DB_USERNAME=root
DB_PASSWORD=
DB_URL=jdbc:mysql://127.0.0.1:3307/campus_equipment?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false
DOUBAO_API_KEY=
BACKUP_PATH=./backups/
MYSQL_DUMP_PATH=mysqldump
MYSQL_PATH=mysql
